body {
  background-color: #121C2C; }

.encabezado-h1 {
  margin-top: 9px;
  font-size: 0.8em;
  width: 30%;
  text-overflow: unset; }
  .encabezado-h1 span {
    color: #8bffff;
    font-size: 1.2em; }

.inicio {
  background-size: cover;
  background-image: url(../img/zapateria.jpg);
  background-repeat: no-repeat;
  padding: 10% 20% 0% 25%;
  height: 100vh; }
  .inicio .inicio-title {
    color: #3e3e3e;
    font-family: 'PT Serif', serif;
    font-size: 25em;
    text-shadow: -1px 1px 1px cyan; }
    .inicio .inicio-title .title-name {
      color: black;
      text-shadow: -1px 1px 1px whitesmoke; }

#sobreNosotros {
  height: 100vh; }
  #sobreNosotros img {
    height: 500px;
    width: 500px;
    object-fit: cover; }
  #sobreNosotros footer {
    margin-top: 500px;
    position: relative;
    bottom: 0; }
    #sobreNosotros footer p {
      margin-bottom: 100px; }

.contenedor {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  align-items: stretch; }
  .contenedor figure {
    position: relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }
    .contenedor figure img {
      width: 100%;
      height: 100%;
      transition: all 400ms ease-out;
      will-change: transform; }
    .contenedor figure .capa {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      transition: all 400ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .contenedor figure .capa h3 {
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
        margin-top: 30px; }
      .contenedor figure .capa p {
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto; }

.contenedor {
  display: grid;
  margin: 0px 40px;
  margin: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.contenedor figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.contenedor figure:hover > img {
  transform: scale(1.3); }

.encabezado-h1:hover {
  font-size: 18px;
  transition: 2s; }

footer ul li a:hover {
  color: whitesmoke; }

@media (max-width: 1250px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-bottom: 100%; } }

@media (max-width: 900px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr  1fr 1fr;
    padding-bottom: 2800px;
    padding-left: 180px; } }

@media (max-width: 600px) {
  .contenedor {
    display: grid;
    justify-content: center;
    padding-bottom: 2700px; } }

@media (max-width: 400px) {
  .inicio-title {
    background-size: cover; } }
